@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"),
   url("./fonts/Roboto_Mono/static/RobotoMono-Medium.ttf");
 }
 
 @font-face {
  font-family: "Source_Code_Pro";
  src: local("Source_Code_Pro"),
   url("./fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf");
 }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
